{% extends 'blood_bank_app/base.html' %}

{% block content %}
<div class="book-app">

    <h2>Book an Appointment</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Book Appointment</button>
    </form>
    
</div>

{% endblock %}