{% extends 'blood_bank_app/base.html' %}

{% block content %}
<div class="who-we-are-section">
    <h1>Who Are We?</h1>

    <div class="mission-section">
        <h2>Our Mission</h2>
        <p>We strive to save lives by fostering a strong blood donation community. Through partnerships and collaboration, we ensure a constant supply of safe and reliable blood, helping patients in need and supporting medical advancements.</p>
    </div>

    <div class="about-us-section">
        <h2>What Makes Us Special?</h2>
        <p>Our organization has been at the forefront of life-saving efforts, connecting thousands of donors to those in need. Through our innovative approaches, we not only collect blood but also educate and inspire the community about the importance of regular donations.</p>

        <p>We believe in the power of community. Every donation is a step towards saving lives and making the world a better place. From creating seamless donation experiences to ensuring top-tier safety, we put donors and recipients first.</p>
    </div>

    <div class="vision-section">
        <h2>Our Vision</h2>
        <p>Our vision is a world where no patient has to wait for life-saving blood. With the support of our volunteers, donors, and community members, we aim to create a future where timely access to blood is guaranteed for everyone, everywhere.</p>
    </div>
</div>
{% endblock %}
