{% extends 'blood_bank_app/base.html' %}

{% block content %}
<div class="why-donate-section">
    <h1>Why Donate Blood?</h1>
    <p>Blood is needed to save lives in emergencies and sustain those with conditions like leukemia, thalassaemia, and bleeding disorders, as well as patients undergoing major surgeries.</p>
    <p>For many, blood donors are their lifeline. One unit of blood can save three lives!</p>
    
    <h2>Blood Usage</h2>
    <p>Every hour of the day, 15 units of blood are used in Singapore. We need about 120,000 units yearly, or over 400 units daily, to meet patient needs.</p>
    
    <h2>What Happens to Donated Blood?</h2>
    <p>Your donation undergoes stringent testing for diseases and blood typing. It is then separated into red blood cells, platelets, and plasma for storage and distribution.</p>

    <h2>The Growing Need for Blood</h2>
    <p>With an ageing population, advanced medical procedures, and new hospitals, more blood will be needed annually to sustain these growing demands.</p>
</div>
{% endblock %}
